<!DOCTYPE html>

<html>
    <head>
	<meta charset="utf-8"/>
        <title>Home</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com" rel="preconnect"/>
        <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous"/>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
        
        
       
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>

    	<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    </head>
    <style>
       .s1{
            background-image: url('/static/w1.jpg');
            width: 100%;
            background-position: 50% 50%;
            background-size: cover;
       }
        .s2{
            background-image: url('/static/w3.jpg');
            width: 100%;
            background-position: 50% 50%;
            background-size: cover;
       }
        .s3{
            background-image: url('/static/w7.jpg');
            width: 100%;
            background-position: 50% 50%;
            background-size: cover;
       }
        .s4{
            background-image: url('/static/w8.jpg');
            width: 100%;
            background-position: 50% 50%;
            background-size: cover;
       }
        .s5{
            background-image: url('/static/w4.jpg');
            width: 100%;
            background-position: 50% 50%;
            background-size: cover;
       }
        .affix {
            padding: 0;
            background-color: #111;
        }
	.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mainNavbar{
	padding-left:  50px;
	padding-top: 20px;
}

.navbar-dark .navbar-brand{
font-family: 'Source Serif Pro', serif;

}

.navbar-nav .nav-link{
	font-family: 'Source Serif Pro', serif;

}

.display-4{
	font-family: 'Source Serif Pro', serif;
}

.lead{
	font-family: 'Source Serif Pro', serif;
}

.navbar.scrolled {
    background: rgb(34, 31, 31);
    transition: background 500ms;
}

.font-weight-light{
	font-family: 'Source Serif Pro', serif;
}


    
    </style>
    <body>
        
        
        
        <nav  id ="mainNavbar" class ="navbar navbar-dark  navbar-expand-md py-0 fixed-top" style="margin-top: 10px;">
            <nav class="nav" style="margin-top: 10px;">
                <div class="container">
                    <div class="logo">
                        <a href="#">Salem Rock Films</a>
                    </div>
                    <div id="mainListDiv" class="main_list">
                        <ul class="navlinks">
                            <li><a href="{{url_for('about')}}">About</a></li>
                            <li><a href="{{url_for('album')}}">Album</a></li>
                            <li><a href="{{url_for('pricing')}}">Pricing</a></li>
				<li><a href="{{url_for('film')}}">Film</a></li>
                            <li><a href="{{url_for('contact')}}">Contact</a></li>
                        </ul>
                    </div>
			<br>
                    <span class="navTrigger" style="margin-top: 10px;">
                        <i></i>
                        <i></i>
                        <i></i>
                    </span>
                </div>
            </nav>    
        </nav>
        
        
<header>
  <div id="indicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#indicators" data-slide-to="0" class="active"></li>
      <li data-target="#indicators" data-slide-to="1"></li>
      <li data-target="#indicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style=" background-image: url('/static/w1.jpg');">
           <div class="carousel-caption d-none d-md-block">
          	<h3 class="display-4">Let us tell your <br>STORY</h3>
          	
           </div>      
                
        </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item"  style=" background-image: url('/static/w2.jpg');")">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Image two</h3>
          <p class="lead">In a cinematic way...</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item"  style=" background-image: url('/static/w3.jpg');">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Image three</h3>
          <p class="lead">...You'll never forget</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#indicators" role="button" data-slide="prev">
          <span class="fa-thin fa-arrow-right" aria-hidden="true" style="color: #fafafa;"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#indicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

<!-- Page Content -->


<script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $("#mainNavbar");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
            });
        });
</script>

        
            <div class="container">
                <div class="main-heading-wrap">
                    <h1>Short Story About Us</h1>
                    <div class="paragraph-bigger cc-bigger-light">
                        SALEM ROCK FILM PRODUCTIONS LLC offers the best service you won't regret choosing us<br/>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="w-layout-grid main-paragraph-wrap">
                    <p id="w-node-_56f2b96e-ae6e-7af1-6a3b-a2d7387904db-ad13bc73" class="paragraph-light">I’m a NY based cinematographer and film producer, here to share my thoughts, experience, and perspective on all things film with you. I have worked in the film and television industry in many different capacities over the years, but primarily as a director, cinematographer and colorist. I got my start by writing and directing my own short film content which led me to work on music videos, advertising campaigns, and eventually feature film work. My approach to filmmaking has always been quite hands on given my background in cinematography and post-production, which has led me to DP and edit many of my own projects.</p>
                    <p id="w-node-_56f2b96e-ae6e-7af1-6a3b-a2d7387904dd-ad13bc73" class="paragraph-light">While I continually develop my own passion projects, I also spend much of my time assisting other filmmakers in the creation of their films. Through my production company, Creative Rebellion, I have been fortunate to have taken part in the completion of innumerable feature films, shorts, broadcast content, and commercials.</p>
                </div>
            </div>
            <div class="container">
                <div class="products-heading">
                    <h3>Our Recent Video</h3>
                    <div class="paragraph-bigger cc-bigger-light">Check out the newly uploaded video</div>
                </div>
            </div>
            <div class="">
                <div>
                    <div class="hs-responsive-embed-youtube"><iframe width="560" height="300" src="https://www.youtube.com/embed/3nyDapDaEkg?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  
                    </div>
                </div>
                <div id="hd1" style="margin-top: 10%;">
                    <div class="intros">
                        <div class="intro-content">
                            <div class="intro-text">
                                
                                <div style="margin-top: 18%; color: white;">
                                    
                                        <h1 >Ready to Party?</h1><br>
                                        <a href="{{url_for('film')}}" class="btn btn-outline-warning">Films</a>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>   
                </div>
                <div id="hd2">
                    <div class="intros">
                        <div class="intro-content">
                            <br>
                            <div class="intro-text">
                                
                                <div style="margin-top: 18%; color: white;">
                                    
                                        <h1 >The cinematographer</h1><br>
                                        <a href="{{url_for('about')}}" class="btn btn-outline-warning">About Me</a>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div id="hd3">
                    <div class="intros">
                        <div class="intro-content">
                            <div class="intro-text">
                                <br>
                                <br>
                                <div style="margin-top: 30%; color: white;">
                                    
                                        <h1  style="font-size:  50px; ">Book Us</h1><br>
                                        <a href="{{url_for('contact')}}" class="btn btn-warning">Contact</a>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        <div class="section cc-subscribe-form">
            <div class="container cc-subscription-form">
                <div class="heading-jumbo-small">Monthly Newsletter</div>
                <div class="paragraph-light cc-subscribe-paragraph">Sign up to receive updates from our shop, including new tea selections and upcoming events.</div>
                <div class="form-block w-form">
                    <form id="wf-form-Monthly-Newsletter-Form" name="wf-form-Monthly-Newsletter-Form" data-name="Monthly Newsletter Form" method="get" class="subscribe-form" data-wf-page-id="5c6eefaaeddf92aaad13bc73" data-wf-element-id="2df3695a-ff87-37fa-7ac7-63d4f4891940">
                        <input type="email" class="text-field cc-subscribe-text-field w-input" maxlength="256" name="Newsletter-Email" data-name="Newsletter Email" placeholder="Enter your email" id="Newsletter-Email" required=""/>
                        <input type="submit" value="Submit" data-wait="Please wait..." class="button w-button"/>
                    </form>
                    
                </div>
            </div>
        </div>
        <footer class="section bg-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="">
                            <h6 class="footer-heading text-uppercase text-white">Information</h6>
                            <ul class="list-unstyled footer-link mt-4">
                                <li><a href="{{url_for('home')}}">Home</a></li>
                                <li><a href="{{url_for('film')}}">Films</a></li>
                                <li><a href="{{url_for('about')}}">About</a></li>
                                <li><a href="{{url_for('contact')}}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
    
                   
    
                    <div class="col-lg-4">
                        <div class="">
                            <h6 class="footer-heading text-uppercase text-white">Help</h6>
                            <ul class="list-unstyled footer-link mt-4">
                               
                                <li><a href="">Terms of Services</a></li>
                                <li><a href="">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
    
                    <div class="col-lg-4">
                        <div class="">
                            <h6 class="footer-heading text-uppercase text-white">Contact Us</h6>
                            <p class="contact-info mt-4">Contact us if need help withanything</p>
                            <p class="contact-info">+1 601-466-8082 or salemrockent@gmail.com</p>
                            <div class="mt-5">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook facebook footer-social-icon fa-facebook-f"></i></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter twitter footer-social-icon fa-twitter"></i></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-google google footer-social-icon fa-google"></i></i></a></li>
                                    <li class="list-inline-item"><a href="#"><i class="fa fa-apple apple footer-social-icon fa-apple"></i></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    
            <div class="text-center mt-5">
                <p class="footer-alt mb-0 f-14">2023 © Salem Films, All Rights Reserved</p>
            </div>
        </footer>
        <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=5c6eefaaeddf9248ac13bc72" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
            var randslide = ['s2', 's1', 's3', 's4', 's5']
            function ran(){
                
                var x = randslide[ Math.floor(Math.random() * randslide.length)];
                console.log(x)
                return x;
            }
            function slide(){
                var sli = document.getElementById('ch')
                sli.className = ran();
            }
           
        </script>
        <script>
            $(window).scroll(function() {
               
                
                if ($(document).scrollTop() > 50) {
            
                    $('.nav').addClass('affix');
                    console.log("OK");
                } else {
                    $('.nav').removeClass('affix');
                }
            });

            $('.navTrigger').click(function () {
                $(this).toggleClass('active');
                console.log("Clicked menu");
                $("#mainListDiv").toggleClass("show_list");
                $("#mainListDiv").fadeIn();

            });

        </script>
    </body>
    
</html>
